# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* list popular languages for DAta Science
* list common libraries for Data Science
* create a table of data science tools
* run some common python arithmetic expressions

1. Python
2. Scala
3. Julia
4. C#
5. JS
6. R

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. dyplr
3. pandas
4. seaborn

|Data Science Tools|
|------------------|
|Jupyter notebooks|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Bart